{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="row">
        <ul class="navigation-bar list-group list-group-horizontal-sm" id="main-page-list">
            <a class="nav-button" href="/"><li class="list-group-item">MAIN</li></a>
            <a class="nav-button" href="/admin/"><li class="list-group-item">ADMIN</li></a>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-10">
            <div class="articles-list">
                {% for article in articles %}
                <div class="article">
                    <h2 class="article-title">
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        <p class="article-date">{{ article.publication_date|date:"M d, Y" }}</p>
                    </h2>
                    <p class="article-summary">{{ article.summary }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}