{% extends 'base.html' %}

{% block title %}Increase The Peace{% endblock %}

{% block content %} 
    <title>Increase The Peace</title>
    <div class="row">
        <ul class="list-group list-group-horizontal-sm" id="main-page-list">
            <a class="nav-button" href="blog/"><li class="list-group-item">BLOG</li></a>
            <a class="nav-button" href="admin/"><li class="list-group-item">ADMIN</li></a>
        </ul>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-sm-12 col-xl-10 col-xxl-8">
            <div class="article">
                <p class="article-text">{{ text | safe }}</p>
            </div>
        </div>
    </div> 
    
{% endblock %}